@media (max-width:1199px) {
    .aside {
        left: -270px;
    }

    .main-content {
        padding-left: 0;
    }

    .about-content .personal-info .info-item p span {
        display: block;
        margin-left: 0;
    }

    .section-title h2 {
        margin-left: 30px;
    }

    .about-content .about-text h3 {
        margin-left: 30px;
    }

    .about-content .about-text p {
        margin-left: 30px;
    }

    .about-content .personal-info {
        margin-left: 30px;
    }

    .about-content .education,
    .about-content .experiences {
        margin-left: 20px;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width:991px) {
    .resume-section .container .resume-heading .resume {
        margin: -93px 0px 0px 74px;
    }

    .contact .contact-info-item,
    .service .service-item {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .home .home-info {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .home .home-img {
        display: none;
    }
}

@media (max-width:767px) {
    .contact .contact-form .col-6,
    .contact .contact-info-item,
    .about-content .personal-info,
    .service .service-item {
        flex: 0 0 100%;
        max-width: 100%;
    }


    .about-content .skills {
        margin-left: 25px;
        flex: 0 0 100%;
        max-width: 100%;
    }

    /* .about-content .personal-info { */
        /* flex: 0 0 100%; */
        /* max-width: 100%; */
    /* } */

    .resume-section .container .resume-heading .resume {
        margin: 0px 0px 0px 20px;
    }
}